# For the main source repo with random stuff in it
# tried dockerfilelint but too strict and disabling does not work
# cannot run check-builtin-literals due to foreign python code

# note that we exclude node_modules and _vendor for hugo
# since these are typically third party modules
# cannot run  markdownlint checks for hugo
---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # only language independent hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      # cannot run check-executables-have-shebangs because of classes
      - id: check-executables-have-shebangs
      # exclude third-party files
      # https://github.com/psf/black/issues/395
      - id: check-json
        exclude: (^_vendor/|^node_modules/)
      # do not run this since we do include.sh from elsewhere
      #- id: check-symlinks
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
        exclude: (^_vendor/|^node_modules/)
      # comment out if you are doing notebooks
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: (^_vendor/|^node_modules/)
      - id: destroyed-symlinks
      # https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/detect_aws_credentials.py
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      # we allow direct commits to main uncomment if you PRs only
      #- id: no-commit-to-branch
      - id: pretty-format-json
        args: [ --autofix ]
        exclude: (^_vendor/|^node_modules/)
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: check-json
      # do not run this since we do include.sh from elsewhere
      #- id: check-symlinks
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: destroyed-symlinks
      # https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/detect_aws_credentials.py
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: name-tests-test
      - id: requirements-txt-fixer

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      # Generating a ruby error with run with all-files
      # https://github.com/jumanjihouse/pre-commit-hooks/issues/86
      #- id: markdownlint
        # https://github.com/jumanjihouse/pre-commit-hooks/issues/82
        # additional dependency bug in pre-commit v2.10
      - id: shellcheck
        additional_dependencies: []
      - id: shfmt

  # https://github.com/igorshubovych/markdownlint-cli
  # node version of markdownlint with better disabling of checks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
    - id: markdownlint
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout

  # https://github.com/roy-ht/pre-commit-jupyter
  - repo: https://github.com/aflc/pre-commit-jupyter
    rev: v1.2.1
    hooks:
      - id: jupyter-notebook-cleanup
        args:
          - --remove-kernel-metadata
          - --pin-patterns
          - "[pin];[donotremove]"
        files: \.ipynb$
        types: ["file"]
